<nav class="navbar fixed-top navbar-default navbar-dark header-bg">
    <button *ngIf="isMobile" class="navbar-toggler p-0" (click)="showSideNavToggle()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <h6 class="text-white">Muthu's Portfolio</h6>
    <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false" class="navbar-nav mr-auto mat-menu">
        <mat-nav-list>
            <mat-list-item [routerLink]="['/profile']">
                <mat-icon matListIcon>
                    <i class="fa fa-user"></i>
                </mat-icon>
                <span matLine>Profile</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item href="#">
                <mat-icon matListIcon>
                    <i class="fa fa-key"></i>
                </mat-icon>
                <span matLine>Logout</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-menu>
    
    <div>
        <button mat-icon-button class="text-white">
                <i class="fa fa-bell"></i>
                <span class="badge badge-notify">3</span>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="text-white">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </button>
    </div>
</nav>


