<div class="timeline">
    <div class="tl-container left left-tl-container">
        <div class="tl-content">
            <h5>Muthukrishnan R</h5>
            <p>Web Developer</p>
        </div>
    </div>
    <div class="tl-container right">
        <div class="tl-content">
            <h5>Summary</h5>
            <p>As a developer, have 8 years of experience in all stages of the SDLC(agile) involving & studying of
                    the user requirements, analyzing, designing, implementation, testing, deployment, documentation and maintaining
                    of various intranet and web-based projects. Effective manner, driven to provide excellent customer service, and able to assess complex situations and formulate solutions. Extensive experience in problem solving with good skills.</p>
        </div>
    </div>
    <div class="tl-container right">
        <div class="tl-content">
            <h4>Skills</h4>
            <div class="clear-fix">
                <b class="clearfix">Web Application Development</b>
                <ul class="text-left">
                    <li>.Net / .Net Core / ASP.Net MVC</li>
                    <li>MS SqlServer / Redis / XML / JSON</li>
                    <li>Angular(1.x to 5(material)) / Jquery / Javascript</li>
                    <li>Bootstrap / LESS / SASS / HTML5 / CSS3</li>
                </ul>
            </div>
            <div class="clear-fix">
                <b class="clearfix">Integrations</b>
                <ul class="text-left">
                    <li>Charts</li>
                    <li>Authorize.net / Paypal or any other gateways</li>
                    <li>Facebook / Twitter / Google / Linkedin / Google Map</li>
                </ul>
            </div>
            <div class="clear-fix">
                <b class="clearfix">Source control</b>
                <ul class="text-left">
                    <li>TFS / GIT / SVN</li>
                    <li>Jira / TFS</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tl-container left left-tl-container">
        <div class="tl-content">
            <h5>Connect On</h5>
        </div>
    </div>
    <div class="tl-container right">
        <div class="tl-content">
            <b class="clearfix"><i class="fa fa-envelope">&nbsp;</i>Write me @: muthuesign@gmail.com</b>
            <b class="clearfix"><i class="fa fa-skype">&nbsp;</i>Skype: muthuspeaks</b>
            <b class="clearfix"><i class="fa fa-mobile">&nbsp;</i>Reach me: +91-9597661774</b>
        </div>
    </div>
</div>