<div class="panel panel-inverse" data-sortable-id="index-6">
        <div class="panel-heading">
            <h4 class="panel-title">Tools & Integration Details</h4>
        </div>
        <div class="panel-body p-t-0">
            <div class="table-responsive">
                <table class="table table-valign-middle">
                    <tbody>
                        <tr>
                            <td><label class="label label-success">Microsoft Visual Studio</label></td>
                            <td>2017 <span class="text-success"><i class="fa fa-arrow-up"></i></span></td>
                        </tr>
                        <tr>
                            <td><label class="label label-primary">Microsoft Visual Studio Code</label></td>
                            <td>1.21.x<span class="text-success"><i class="fa fa-arrow-up"></i></span></td>
                        </tr>
                        <tr>
                            <td><label class="label label-danger">Team Foundation Service</label></td>
                            <td>latest <span class="text-success"><i class="fa fa-arrow-up"></i></span></td>
                        </tr>
                        <tr>
                            <td><label class="label label-warning">GitHub</label></td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td><label class="label label-default">SVN</label></td>
                            <td>latest</td>
                        </tr>
                        <tr>
                            <td><label class="label label-inverse">Payment Gateways</label></td>
                            <td>Authorize.net, paypal or any other </td>
                        </tr>
                        <tr>
                            <td><label class="label label-danger">Social & Maps</label></td>
                            <td>Facebook, Twitter, Linkedin & Google Maps</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>