<div class="row text-white">
    <div class="col-md-3 mb-4">
        <div class="card card-body bg-red">
            <h5>TOTAL EXPERIENCE</h5>
            <span>8 Years</span>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card card-body bg-orange">
            <h5>CONTRIBUTION</h5>
            <span>100%</span>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card card-body bg-secondary">
            <h5>LANGUAGES</h5>
            <span>English, Tamil</span>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card card-body bg-black-lighter">
            <h5>TIMING</h5>
            <span>Any</span>
        </div>
    </div>
</div>
<!-- begin row -->
<div class="row">
    <!-- begin col-md-8 -->
    <div class="col-md-8 mb-4">
        <!-- begin panel -->
        <skill-analytics></skill-analytics>
        <!-- end panel -->
        
        <!-- begin panel -->
        <g-map></g-map>
        <!-- end panel -->
    </div>
    <!-- end col-md-8 -->
    <!-- begin col-md-4 -->
    <div class="col-md-4 mb-4">
        <!-- begin panel -->
        <analytics></analytics>
        <!-- end panel -->
        
        <!-- begin panel -->
        <user-agent></user-agent>
        <!-- end panel -->
    </div>
    <!-- end col-md-4 -->
</div>
    <!-- end row -->